.about {
    background-color: rgba(210, 171, 118, 0.85);

    div {
        display: flex;

        @media (max-width: 620px) {
          flex-direction: column;
        }

        h2 {
            color: #282d3c;
            font-family: 'Playfair Display';
            font-size: 30px;
            width: 50%;
            padding-right: 50px;
            margin: 0;

            @media (max-width: 990px) {
                padding-right: 25px;
            }

            @media (max-width: 620px) {
                width: 100%;
                padding-right: 0%;
                padding-bottom: 30px;
              }
        }
        > p {
            color: #282d3c;
            font-family: 'Lato';
            font-size: 18px;
            line-height: 1.6em;
            width: 50%;
            padding-left: 50px;
            margin: 0;

            @media (max-width: 990px) {
                padding-left: 25px;
            }
            @media (max-width: 620px) {
                width: 100%;
                padding-top: 0px;
                padding-left: 0px;
                padding-bottom: 50px;
              }
        }
    }
    
    .butt {
        font-family: 'Lato';
        font-size: 13px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        background-color: #d2ab76;
        color: white;
        border-radius: 10px;
        padding: 15px 15px;
       
        &:hover {
            color: white;
            opacity: 0.8;
        }
    }
}
.homecontact {
    .gutters {
        display: flex;

        @media (max-width: 620px) {
            flex-direction: column;
          }
        h2 {
            color: #282d3c;
            font-family: 'Playfair Display';
            font-size: 30px;
            width: 50%;
            padding-top: 50px;
            padding-bottom: 50px;
            padding-right: 50px;
            padding-left: 0;
            margin: 0;

            @media (max-width: 990px) {
                padding-right: 25px;
            }

            @media (max-width: 620px) {
                width: 100%;
                padding-right: 0%;
                padding-bottom: 30px;
              }
    }
}
    .padding {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 50px;

        @media (max-width: 620px) {
            width: 100%;
            padding-left: 0px;
            padding-top: 0px;
            padding-left: 0px;
          }
        > p {
            color: #282d3c;
            font-family: 'Lato';
            font-size: 15px;
            line-height: 1.6em;
            padding-bottom: 20px;
            margin: 0;

            @media (max-width: 990px) {
                padding-left: 25px;
            }
            @media (max-width: 620px) {
                padding-left: 0px;
              }
        }
        .enquire {
            font-family: 'Lato';
            font-size: 14px;       
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            user-select: none;
            background-color: #282d3c;
            color: white;
            font-weight: bold;
            border-radius: 10px;
            padding: 10px 7px;
            &:hover {
                color: white;
                opacity: 0.8;
            }
            .icon {
                height: 12px;
                width: auto;
                padding-right: 6px;
                margin: 0%;
            }
        }
        }
    }
.test {
    h2 {
        color: #282d3c;
        font-family: 'Playfair Display';
        font-size: 35px;
    }
}
.body {
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
  
    @media (max-width: 900px) { 
        padding: 50px 100px;
    }   

    @media (max-width: 800px) { 
        padding: 50px 50px;
    }   

    @media (max-width: 400px) { 
        padding: 25px 25px;
    }  

    > p {
        font-family: 'Lato';
        line-height: 23.5px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

h1 {
    color: #0f1d28;
    font-family: 'Playfair Display';
    padding-top: 50px;
    margin: 0%;
    margin-bottom: 10px;
}
h3 {
    text-decoration: underline;
    font-size: 18px;
    margin: 10px 0px;
}
.banner {
    background-color: rgba(210, 171, 118);
    height: 300px;
    width: 100%;
    margin: 25px 0;
    
    h1 {
        color: white;
    }
}