#actioncard {
   background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        margin: auto;
    
    > ul {
        background-color: #484c59;
        box-shadow: 10px 5px 5px grey;
        border-radius: 10px;
        width: 100px;
        cursor: pointer;
        padding: 30px 3rem;
        margin: 30px 30px;

        &:hover {
            opacity: 0.5;
        }

        > img {
            height: 100px;
            width: auto;
        }
    }
    }
}
