.form {
        background-color: rgba(210, 171, 118, 0.85);
        padding: 50px 0;

        > div {
            display: flex;
            flex-direction: column;
            max-width: 800px;
            margin: auto;

            > form {
                display: flex;
                flex-wrap: wrap;
                margin-left: -20px;
                width: calc(100% + 20px);
                margin-bottom: 40px;
                
                > * {
                    width: calc(100%);
                    margin-left: 20px;

                    @media (min-width: 900px) {
                        &.half {
                            width: calc((100% / 2) - 20px);
                        }
                    }
                }

                #submit {
                    width: 140px;
                    margin-left: auto;
                    background-color: #282d3c;

                    &:hover {
                        background-color: rgba(15, 29, 40, 0.8);
                    }
                }
            }

            > p {
                color: black;
                font-family: "Lato";
                margin: 0%;
            }
        }
}

article {
    background-color: #282d3c;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 15px;
        max-width: 1140px;
        margin: auto;
        padding: 0 3rem;

        @media (max-width: 900px) { 
            padding: 0 10px;
            
        }

        @media (max-width: 785px) { 
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0;
            
        }

        > ul {
            max-width: 300px;
            padding: 0 16px;
            margin: 45px 0px;

            @media (max-width: 785px) { 
                &:nth-child(2),
                &:nth-child(3) {
                    margin-top: 0%;
                }
            }
        
            > h3 {
                text-decoration: none;
            }
        > a {
            color: white;
            text-decoration: none;
            line-height: 25px;
        }
        p {
            line-height: 25px;
        }
        }
    }
}
.icons {
    height: 35px;
    width: auto;
}
