header {
    width: 100%;
    background-color: #282d3c;
    color: white;
    font-family: 'Lato';

    .section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
    }
    img {
        height: 20px;
        width: auto;
    }
    h2 {
        font-size: 16.5px;
        padding: 10px 10px;
        margin: 0%;

        @media (max-width: 870px) { 
            display: none;
        }
    }
}
.items {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    a {
        text-decoration: none;
        color: white;
        padding: 10px 15px;
        @media (max-width: 444px) { 
                display: none;
            }
    }

    a:hover {
        background-color: grey;
        border-radius: 25px;
    }
}
.phone {
    @media (max-width: 870px) { 
        display: none;
    }
}
.hero {
    height: 500px;
    width: 100%;
    background-image: url("../public/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    background-position-x: center;

    @media (max-width: 600px) { 
        height: 400px;
    }
    @media (max-width: 500px) { 
        height: 300px;
        background-position-y: -45px;
    }
}
.logo {
    height: 700px;
    width: 100%;
}
.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-size: 15px;
    cursor: pointer;
    background-color: #d2ab76;
    color: white;
    font-weight: bold;
    padding: 5px 20px 5px 7px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;

    &:hover {
        color: white;
        opacity: 0.8;
    }
}
.bubble {
    height: 15px;
    padding: 10px 10px;
    filter: invert(1);
}
.material-icons.md-48 { 
    font-size: 48px;
    color: white; 
    display: none;

    @media (max-width: 444px) {
        display: block;
        }
  }
  .sidenav {
    height: 100%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato';
    color: #282d3c;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    font-weight: 700;
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  } 
  span {
    margin-right: auto;
  }
